*{
    margin: 0 auto;
    padding:0;
}
body{
    margin:10px;
    font-family: 'Comic Sans MS';
}
.nav li,.side-menu  li{
    list-style-type:none;
    display: inline;
}
.nav ul li:hover{
    background-color: #f8cd4a;
    font-size:27x;
}
.nav ul li:nth-child(1):active{
 background-color: #CEEDFF;
}
.nav ul li:nth-child(2):active{
 background-color: #CEEDFF;
}

.nav ul li:nth-child(3):active{
    background-color: #CEEDFF;
}
.nav ul{
    padding-top:38px;
}
.logo{
    max-width: 100px;
}
.logo img {
    max-width: 100%;
}
#header{
  font-family: 'Comic Sans MS';
  font-size:25px;
  display:flex;
  background-color:#CEEDFF;

}
li a{
    margin: 30px;
}
.side-menu{
    float: right;
    margin-right: 12px;
    margin-top: 20px;
}
.container{
    /* background-image: url('../images/bkcg.jpg');*/   

}
.icon {
    width:10px;
    display: inline-block;
}
.icon-shopping-cart{
    background-image: url('../images/sprites/cartSprite.jpg');
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.loginButton{
    background-color: #e3596b;
    color:#eee;
    padding:10px;
    margin:10px;
    margin-right:120px;
}
.loginButton:active{
    background-color: #f8cd4a;
}
#main-content{
    padding: 10px 10%;
    background-position: bottom;
    display: grid;
    gap: 1rem;
    border-top:15px solid  #f8cd4a;
    grid-template-columns: 400px auto ;
    grid-template-rows: 300px auto auto;
    grid-template-areas:
    "sidebar featured-items"
    "sidebar new-arrivals";
    background-image: url('../images/bkcg.jpg');
    
}
.aside {
    height: 100%;
    margin-top: 10px;
    grid-area: sidebar;
    grid-column-end: span;
    /* border-right: 1px solid #17E8E5; */
    font-family: 'Comic Sans MS';
}
.banner{
    border-top:15px solid #e3596b;
    grid-area: banner;
    width:100%;
    height:300px;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.bannerText{
    position: absolute;
    left: 625px;
    top: 293px;
    font-family: 'Comic Sans MS';
    font-size: 30px;
    width: 286px;
    text-align: center;
}
.aside-item {
    font-family: 'Comic Sans MS';
    margin-top: 50px;
    margin-bottom: 50px;
}
.featured-products{
}
.featured-products .grid-item, .new-products .grid-item{
    display:inline-block;
}
