/* NIHAO HOWDY NAMASTE SAT SRI AKAL*/
*{
    margin: 0 auto;
    padding:0;
}
body{
    margin:1%; /* margin of body*/
    font-family: 'Comic Sans MS'; /* Parent font family is Comic Sans */
}
.nav li,.side-menu  li{
    list-style-type:none; 
    display: inline;
}
.nav ul li:hover{
    background-color: #f8cd4a;
    font-size:1em;
    border-radius: 70px;
}
.nav ul li:nth-child(1):active{
 background-color: #CEEDFF;
}
.nav ul li:nth-child(2):active{
 background-color: #CEEDFF;
}

.nav ul li:nth-child(3):active{
    background-color: #CEEDFF;
}
.nav ul{
    padding-top:6%; /* 6/100 = 6 percent of header*/
}
.logo{
    max-width: 100px; /* 6/100 = 6 percent of header*/
}
.logo img {
    max-width: 100%;
}
#header{
  font-family: 'Comic Sans MS';
  font-size:1.5em;
  display:flex;
  background-color:#CEEDFF;

}
li a{
    margin: 30px;
}
.side-menu{
    float: right;
    margin-right: 1%; /* 1/100 = 1 percent of header */
    margin-top: 1%; /* 1/100 = 1 percent of header */
}
.icon {
    width:10px;
    display: inline-block;
}
.icon-shopping-cart{
    background-image: url('../images/sprites/cartSprite.jpg');
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.loginButton{
    background-color: #e3596b;
    color:#eee;
    padding:10px;
    margin-right:120px;
}
.loginButton:active{
    background-color: #f8cd4a;
}
#main-content{
    padding: 1% 10%; /* 1/100 left and right, 10/100 top and bottom */
    background-position: bottom;
    display: grid;
    gap: 1rem;
    border-top:15px solid  #f8cd4a; /* a slight 1% border */
    grid-template-columns: 400px 1fr; /* This height will be fixed */
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:
    "sidebar featured-items"
    "sidebar new-arrivals"
    "donation-banner donation-banner";
    background-image: linear-gradient(to right, #dcdcdc, #919191);
    
}
.addtoCartButton{
    background-color:crimson;
    color:#eee;
    display: inline-block;
    font-size: 0.5em;
    border-radius: 7%;
    padding: 2px;
}
.banner{
    border-top:15px solid #e3596b;
    grid-area: banner;
    width:100%;
    height:300px;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fffdfb;
}
.donation-banner{
    background-color: #CEEDFF;
    width: 100%;
    text-align: center;
    overflow: auto;
}
.item-price{
    width: 82%; /* 82/100 of product item */
    float: left;

}

.grid-item{
    width: 46%; /* 46/100 of item grid */ 
    margin: 10px;
}
.grid-item img{
    width:30%; /* 30/100 of grid item */
}

.loginButton{
    float: right;
    border-radius:70px;
}
.bannerText{
    position: relative;
    left: 1%;
    top: 57%;
    font-family: 'Comic Sans MS';
    font-size: 30px;
    width: 18%; /* Arbitratily given width for text placement */
    text-align: center;
}

.aside {
    height: 100%;
    grid-area: sidebar;
    grid-column-end: span;
    font-family: 'Comic Sans MS';
    margin-left: 0;
}
.aside-item {
    font-family: 'Comic Sans MS'; 
    margin-top: 50%; /* 50/100 = 50% of aside */
    margin-bottom: 50%; /* 50/100 = 50% of aside */
}

.featured-products .grid-item, .new-products .grid-item{
    display:inline-block;
}
.featured-products{
    margin-bottom: 15px;
}
#footer {
    background-color: #e3596b;
    color:#eee;
    text-align: center;
}
#footer li{
    list-style-type:none;
    display: inline;
}
.donate-button{
    margin:10px;
}

/** Media Queries **/

@media only screen and (max-width:414px){
    .banner{
        display: none;
    }
    .logo {

    }
    #main-content{
        display: block;
    }
    .grid-item img{
        width: 200px;
    }
    .nav{
        display: none;
    }
    .loginButton{
        margin-right: 0;
    }
    .addtoCartButton{
        display: inherit;
    }
    .item-price{
        width:54%
    }
    .grid-item{
        width: 100%;
    }
    .aside{
        display: none;
    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    #main-content{
        grid-template-columns: 225px 1fr;
    }
    .loginButton{
        margin-right: 0;
        margin-top: 10px;
    }
    .bannerText{
        top:57%;
        width:28%;
    }
}
